.projects-container .card {
  /* Variables */
  --card-hover-clr: #1b2635;
  /* Style */
  width: 450px;
  height: 600px;
  position: relative;
  overflow: hidden;

  border: 1px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Preview Link Style Start */
.projects-container .card .preview-link {
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  margin-top: 4rem;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Preview Link Style End */
.projects-container .card .project-title {
  color: #fff;
}

.projects-container .card .animation-span {
  position: absolute;
  top: var(--y);
  left: var(--x);
  display: block;
  width: 0;
  height: 0;
  opacity: 0.95;
  background-color: var(--card-hover-clr, #9c27b0);
  z-index: 1;
  /*Transform*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  /*Borderradius*/
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  /*Transition*/
  transition: 350ms;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -ms-transition: 350ms;
  -o-transition: 350ms;
}

.projects-container .card .card__img,
.projects-container .card .card__img img,
.projects-container .card .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-container .card .card__img img {
  object-fit: cover;
}

.projects-container .card .card__content {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: 500ms;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

/* Hover Actions */

.projects-container .card:hover .card__content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.projects-container .card:hover .animation-span {
  width: 1500px;
  height: 1500px;
}

/* ****************************** */
/* **** Web 3.0 Style Classes **** */
/* ****************************** */
.gradient-border {
  border: 5px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.box-glow:hover {
  box-shadow: 0 0 30px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.text-glow {
  text-shadow: 0 0 30px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.text-gradient {
  background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient::selection {
  background: #333;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #fff;
}

.text-gradient.text-glow {
  background: linear-gradient(135deg, #cb5eee 0%, #4be1ec 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 20px rgb(192 219 255 / 45%), 0 0 12px rgb(65 120 255 / 14%);
}

/* ****************************** */
/* **** Web 3.0 Style Classes **** */
/* ****************************** */
