@import url(./button-style.css);
@import url(./web3-styles.css);

body {
  background-color: #051c28;
  color: #e1e8f5;
}

/* Header Start */
.main-page-header {
  --line-decore-width: 100px;
}
.main-page-header #mobile-heading {
  display: none;
}

.logo-heading-wrapper .header-logo {
  position: fixed;
  width: 100px;
  height: 100px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);

  padding: 10px;
  margin: 4rem 0 0 4rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.logo-heading-wrapper .header-logo:hover,
.logo-heading-wrapper .header-logo:focus-visible,
.logo-heading-wrapper .header-logo:focus-within {
  box-shadow: 0 0 50px rgba(213, 226, 243, 0.912),
    0 0 32px rgba(65, 119, 255, 0.577);
  outline: 3px dotted #fff;
  outline-offset: 3px;
}
.linkedin-link:focus {
  outline-color: transparent;
}

.logo-heading-wrapper .header-heading {
  font-weight: 100;
  left: 160px;
  top: 40px;
  margin-bottom: 80px;
  position: relative;
  margin-left: 100px;
}

.logo-heading-wrapper .header-heading::before,
.logo-heading-wrapper .header-heading::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: var(--line-decore-width, 100px);
  height: 1px;
  background-color: #fff;
  top: 55%;
}

.logo-heading-wrapper .header-heading::before {
  left: calc(-1 * var(--line-decore-width, 100px));
}

.main-page-header .author-info {
  position: fixed;
  font-weight: 200;
  left: 65px;
  top: 280px;
}

.main-page-header .author-info::before,
.main-page-header .author-info::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 1px;
  height: var(--line-decore-width, 100px);
  background-color: #fff;
}

.main-page-header .author-info::before {
  top: -110px;
}

.main-page-header .author-info::after {
  bottom: -110px;
}

.main-page-header .author-info p {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

.main-page-header .author-info {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* Header End */

/* Projects Start */
.projects-container {
  margin-left: 150px;
  padding-right: 1.5rem;
  border: 1px dotted #fff;
  padding: 2rem;
  margin-right: 2rem;

  /* Flex */
  align-items: flex-start;
  max-width: 2000px;
  --card-border-radius: 10px;
}

.projects-container .card-wrap {
  position: relative;
}

.projects-container .card-wrap:hover.rgb::after,
.projects-container .card-wrap:focus-within.rgb::after {
  animation: rgb-animation 4s linear infinite;
  -webkit-animation: rgb-animation 4s linear infinite;
  inset: -4px;
}

.rgb::after {
  content: '';
  background: linear-gradient(
      45deg,
      #ff0000 0%,
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%,
      #3fdad8 40%,
      #2fc9e2 50%,
      #1c7fee 60%,
      #5f15f2 70%,
      #ba0cf8 80%,
      #fb07d9 90%,
      #ff0000 100%
    )
    repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -1px;
  z-index: -1;
  /*Blurfilter*/
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.projects-container .card {
  /*Variables*/
  --card-hover-clr: #012030;
  --tag-clr: 11 232 244; /** hsl */
  /*Style*/
  background-color: #2a2c47;

  width: 380px;
  min-height: max-content;
  position: relative;
  overflow: hidden;

  border: 1px solid rgb(226, 224, 224);
  border-radius: var(--card-border-radius);
  -webkit-border-radius: var(--card-border-radius);
  -moz-border-radius: var(--card-border-radius);
  -ms-border-radius: var(--card-border-radius);
  -o-border-radius: var(--card-border-radius);
}

/* 1. Card Hero */

.projects-container .card .card__hero {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.projects-container .card .card__hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(transparent 0%, #2a2c4747 50%, #2a2c47 100%);
  pointer-events: none;
}

.projects-container .card .card__hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

/* 2. Card Content */

.card__content {
  margin: 0 2rem;
}

.card__content .content__title a {
  font-size: 3rem;
  text-transform: capitalize;

  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  border-radius: 13px;
}

.card__content .content__title:focus-within a,
.card__content .content__title a:focus-visible {
  outline: 4px dotted #fff;
  outline-offset: 5px;
}

.card__content .content__desc {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}

.content__links .link .link__icon,
.content__links .link {
  color: #fff;
  font-size: 1.8rem;
}

.content__links .link {
  cursor: pointer;
  text-decoration: none;
  outline: 3px dotted transparent;
  outline-offset: 3px;
  padding: 0.5em;
  /* Display */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1rem;
}

/* 3. Card Tags */

.projects-container .card .card__tags {
  background-color: #383b56;
  border-top: 1px solid #febc2e;
  padding: 2rem;
}

.card__tags .card-tag {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: transparent;
  color: rgb(var(--tag-clr));
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.card__tags .card-tag:focus-visible {
  outline: 1px solid rgb(var(--tag-clr));
  outline-offset: 3px;
}
.card__tags .card-tag:hover,
.card__tags .card-tag:active,
.card__tags .card-tag:focus-visible {
  background-color: rgb(var(--tag-clr) / 0.2);
}

/* *** Media Start ***  */
/* On Mobile devices */
@media (hover: none) {
}

/* Animations */
@keyframes rgb-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* For people who prefer reduced motion  */
@media (prefers-reduced-motion: reduce) {
  @keyframes rgb-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

/* Responsivenes Start */
@media (max-width: 796px) {
  .main-page-header .header-heading {
    font-size: 25px;
    letter-spacing: 2px;
  }
}

@media (max-width: 642px) {
  .main-page-header .header-heading {
    display: none;
  }
  .projects-container {
    margin-top: 10rem;
  }
  .main-page-header {
    display: block;
    position: relative;
    top: -100px;
  }
  .projects-container .card {
    width: 100%;
    max-width: 380px;
  }
}

@media (max-width: 358px) {
  .content__links .link {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .main-page-header .author-info {
    display: none;
  }
  .card .view {
    font-size: 2rem;
  }
  .projects-container {
    margin: 18rem 2rem 0;
  }
  .main-page-header {
    top: 0;
  }
  .main-page-header .logo-heading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    backdrop-filter: blur(5px);
    background-color: rgb(255 255 255 / 0.1);
    z-index: 200;
  }
  .main-page-header .logo-heading-wrapper .header-logo {
    position: relative;
    margin: 0;
  }
  .main-page-header .logo-heading-wrapper #mobile-heading {
    display: block;
    text-align: center;
    font-weight: 300;
  }
}

@media (max-width: 360px) {
  .main-page-header .logo-heading-wrapper {
    padding: 0.5rem 0;
    gap: 1rem;
  }
  .main-page-header .logo-heading-wrapper #mobile-heading {
    font-size: 2.5rem;
  }
  .main-page-header .logo-heading-wrapper .header-logo {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

@media (max-width: 320px) {
  .projects-container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 0.5rem;
  }

  .main-page-header .author-info {
    left: 1rem;
    top: 25rem;
  }
  .rgb::after {
    inset: -5px 10px;
  }
  .projects-container .card-wrap:hover.rgb::after,
  .projects-container .card-wrap:focus-within.rgb::after {
    animation: rgb-animation 4s linear infinite;
    -webkit-animation: rgb-animation 4s linear infinite;
    inset: -7px 7px;
  }
}
@media (max-width: 285px) {
  .main-page-header .logo-heading-wrapper #mobile-heading {
    font-size: 2rem;
  }
}
@media (max-width: 259px) {
  .main-page-header .logo-heading-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 158px) {
  .projects-container {
    border: none;
    padding: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

/* Responsivenes End */

/* *** Media End ***  */
